#!/usr/bin/make -f

# Passing hardcoded GLUT_LIBS necessary to link demo programs and tests.  GLUT
# doesn't have pkg-config files or other simple mechanisms.
GLUT_LIBS := -lglut -lGLU -lGL -lm

SHLIBVER := 2.1.3~rc5

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- GLUT_LIBS="$(GLUT_LIBS)"

override_dh_makeshlibs:
	dh_makeshlibs -p libftgl2 -V "libftgl2 (>= $(SHLIBVER))"
